body{
    padding: 2px;
    background-color: rgba(123,104,238,0.4);
}
.bordaTopTitulos{/*Border radius que fica em cima do titulo*/
    border-top: 3px solid white;
    border-radius: 25px;
    height: 50px;
    margin-bottom: -40px;
}
.bordaBottomTitulos{/*Border radius que fica em baixo do titulo*/
    border-bottom: 3px solid white;
    border-radius: 25px;
    height: 50px;
    margin-top: -50px;
}
/* Titulo das paginas Alugar/Comprar/Home */
#tituloAluComHome{
    width: 26%;
    margin: 10px 37% 20px 37%;
}
#tituloLogin{
    font-size: 25px;
    width: 12%;
    margin: 10px 44% 20px 44%;
}
.aaah{
    height: 50px;
    border-radius: 25px;
    background-color: coral;
}
/*Tamanho para col-md */
@media screen and (max-width: 1200px) and (min-width: 992px) { 
    .aaah{
        background-color: dimgray;
    }
    .titulo{ font-size: 22px}
    #tituloAluComHome{
        width: 26%;
        margin: 10px 37% 20px 37%;
    }
    #tituloLogin{
        width: 16%;
        margin: 10px 42% 20px 42%;
    }
}
/*Tamanho para col-sm */
@media screen and (max-width: 992px) and (min-width: 768px){ 
    .aaah{    
        background-color: greenyellow;  
    }
    .titulo{ font-size: 20px}
    #tituloAluComHome{
        width: 36%;
        margin: 10px 32% 20px 32%;
    }
    #tituloLogin{
        width: 20%;
        margin: 10px 40% 20px 40%;
    }
}
/*Tamanho para col-xs */
@media screen and (max-width: 768px) { 
    .titulo{ font-size: 17px}
    #tituloAluComHome{
        width: 50%;
        margin: 10px 25% 20px 25%;
    }
    #tituloLogin{
        width: 32%;
        margin: 10px 34% 20px 34%;
    }
    .aaah{
        background-color: black; 
    }
}
.titulo{/* Usar id porque tem que mudar o titulo entre Comprar e Vender*/
    font-family: 'Baloo', cursive;
    text-align: center;
    font-size: 25px;
}